nav {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    background-color: rgb(132, 115, 18) !important;
    color: black !important;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/Ishq.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100VH;
    width: 100%;
    color: rgb(241, 241, 238) !important;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;

    justify-content: flex-start !important;


}

nav img {}

.btn {
    justify-content: center;

}