
a{
  text-decoration: none !important;
}

body{
    font-family: 'Poppins', sans-serif !important;
    scroll-behavior: smooth !important;
    background-color: black !important;
}
button, a{
  transition: 0.5s !important;
}